body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Mengatur posisi horizontal ke tengah */
  align-items: center; /* Mengatur posisi vertikal ke tengah */
  height: 100vh; /* Mengatur tinggi body sesuai tinggi viewport */
}

.container {
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
